.suo
AppSettings.NET/bin/
AppSettings.NET/obj/
AppSettings.Test/bin/
AppSettings.Test/obj/
*.suo
/AppSettings.Client/obj/
/AppSettings.Client/bin/
/AppSettings.Server/obj/
/AppSettings.Server/bin/
/.vs/config
/packages/
